/**
/* CSS Customizado - Landing Page
* @author - Lucas Malaman
*/

/** Smartphone Portrait **/
body {
    background-color: #0ff;
}
/** Smartphone Landscape **/
@media(min-width: 576px){
    body {
        background-color: #f00;
    }
}
/** Tablet Portrait **/
@media(min-width: 768px){
    body {
        background-color: #ff0;
    }
}
/** Tablet Landscape **/
@media(min-width: 992px){
    body {
        background-color: #00f;
    }
}
/**PCs /Note /SmartTV **/
@media(min-width: 1200px){
    body {
        background-color: #0f0;
    }
}
/** @media é como se fosse um if, no caso estamos dizendo que se for maior que tantos px a cor deverá ser tal **/

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.text-align-left{
    text-align: left;
}

